# =========================
# Node dependencies
# =========================
frontend/node_modules/
backend/node_modules/
node_modules/
bower_components/
jspm_packages/
web_modules/

# =========================
# Build outputs
# =========================
frontend/dist/
frontend/build/
frontend/.cache/
frontend/.parcel-cache/
frontend/.next/
frontend/.nuxt/
frontend/out/
frontend/.vuepress/dist
frontend/.temp/
frontend/.svelte-kit/
frontend/.vitepress/dist
frontend/.vitepress/cache

backend/dist/
backend/build/
backend/.cache/
backend/.parcel-cache/
backend/.next/
backend/.nuxt/
backend/out/
backend/.vuepress/dist
backend/.temp/
backend/.svelte-kit/
backend/.vitepress/dist
backend/.vitepress/cache

# =========================
# Logs
# =========================
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# =========================
# Environment files
# =========================
.env
backend/.env
.env.*
!.env.example


# =========================
# Runtime data
# =========================
pids/
*.pid
*.seed
*.pid.lock

# =========================
# Diagnostic reports
# =========================
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# =========================
# Coverage
# =========================
coverage/
.nyc_output/
*.lcov

# =========================
# TypeScript
# =========================
*.tsbuildinfo

# =========================
# ESLint / Stylelint cache
# =========================
.eslintcache
.stylelintcache

# =========================
# REPL & History
# =========================
.node_repl_history

# =========================
# NPM/Yarn
# =========================
.npm/
*.tgz
.yarn-integrity
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# =========================
# Editor / IDE
# =========================
.vscode/
.idea/
.DS_Store
Thumbs.db
*.suo
*.ntvs*
*.njsproj
*.sln

# =========================
# Testing / Dev tools
# =========================
.grunt/
.fusebox/
.tern-port/
.vscode-test/

# =========================
# Hosting / Cloud tools
# =========================
.serverless/
.dynamodb/
.firebase/
.docusaurus/

# =========================
# Vite logs
# =========================
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
